.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */


header{
	width:100%;
	background-color:#00b8e1;
}

.intro{
font-family:
}

li{
	float:left;20%;	
	margin:2% 7% 0 0;
	float:right;
	padding:.4%;
}

li a{
	text-decoration:none;
	color:#F9F9F9;
	margin:0 10% 0 0;
	font-family:'Questrial', sans-serif;
	font-size:1em;
	
}

a:hover{
color:#009;	
}

.logo{
width:10%;
margin:1%;
}

.icon{
width:5%;
margin:1%;	
}

#intro-box{
	background-color:#fff;
	width:100%;
}

.intro{
font-size:2em;
padding:2.5%;
}

#column-one{
	float:left;
	width:46%;
	padding:2%;
}


#column-two{
		float:left;
		width:46%;
		padding:2%;
}

.title{
	font-family:'Questrial', sans-serif;
	font-size:1.2em;
	padding:1%;
	font-weight:bold;
	
}

.title-p{
	font-family:'Questrial', sans-serif;
	font-size:.8em;
	text-align:justify;
	margin:1%;
	line-height:1.4em;
}

#my-work{
width:100%;
background-color:#00b8e1;
padding:2%;
clear:both;
}

h3{
padding:1%;
}