.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

.logo{
	width:10%;
	margin:1%;
}

header{
	width:100%;
	background-color:#00b8e1;
}



li{
	float:left;20%;	
	margin:2% 7% 0 0;
	float:right;
	padding:.4%;
}

li a{
	text-decoration:none;
	color:#F9F9F9;
	margin:0 10% 0 0;
	font-family:'Questrial', sans-serif;
	font-size:1em;
}

a:hover{
	color:#009;	
}

.primary-img{
	width:100%;	
}

.intro{
	font-size:3em;
	padding:3.5%;
	font-family:blackjack, sans-serif;
	text-align:center;
	background-color:#EDEDED;
	border-radius:50%;
	margin:1% 1% 0 1%;
}

.intro-p{
	font-size:2em;
	padding:2.5%;
	font-family:blackjack, sans-serif;
	text-align:center;
}

.blue{
	color:#00b8e1;
	
}

#intro-box{
	background-color:#fff;
	width:100%;
}

.icon{
	width:5%;
	margin:1%;	
}

#column-one{
	float:left;
	width:46%;
	padding:2%;
}


#column-two{
		float:left;
		width:46%;
		padding:2%;
}

.title{
	font-family:'Questrial', sans-serif;
	font-size:1.2em;
	padding:0 0 2% 0;
	font-weight:bold;
	
}

.title-p{
	font-family:'Questrial', sans-serif;
	font-size:.8em;
	text-align:justify;
	line-height:1.4em;
}

#my-work{
	background-color:#00b8e1;
	clear:both;
}

.sub{
	padding:0 0 1% 0;
}

/*--------start of grid--------*/

#grid-wrapper{
width:85%;
margin:0% auto;

}

.grid{
width:33.3%;
float:left;
	
}